
mixin entel-match-detail(classie,src_img, extension, alt, texte)
    .content_match
        .match__item_main
            img(src=img_path + src_img + extension, srcset= img_path + src_img + '@2x' + extension + ' 2x,' + img_path + src_img + extension + ' 1x', alt=alt)
            p !{texte}


    //- +entel-options("huawei", "p30 lite", "../../images/profile/","icon-gamer", ".png", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum reprehenderit, consectetur, voluptas quis deleniti provident illo nemo eaque nostrum assumenda tempore, suscipit nisi incidunt aspernatur molestias. Iure ipsa cum minus!")


mixin entel-match(brand,model,img,alt,classie,src_img,extension,number_battery,battery,number_camera,camera,number_screen,screen,number_capacity,capacity,link,button)
    .slider_options__match
        h2 #[strong !{brand}] #[span !{model}]

        img(src= img, alt=alt)

        .feature 
            .feature__battery
                img(src=img_path + 'battery-white' + extension, srcset= img_path + 'battery-white' + '@2x' + extension + ' 2x,' + img_path + 'battery-white' + extension + ' 1x', alt=alt)
                span !{number_battery} #[br] !{battery}
            
            .feature__camera
                img(src=img_path + 'camera-white' + extension, srcset= img_path + 'camera-white' + '@2x' + extension + ' 2x,' + img_path + 'camera-white' + extension + ' 1x', alt=alt)
                span !{number_camera} #[br] !{camera}
            
            .feature__screen
                img(src=img_path + 'screen-white' + extension, srcset= img_path + 'screen-white' + '@2x' + extension + ' 2x,' + img_path + 'screen-white' + extension + ' 1x', alt=alt)
                span !{number_screen} #[br] !{screen}
            
            .feature__capacity
                img(src=img_path + 'memory-white' + extension, srcset= img_path + 'memory-white' + '@2x' + extension + ' 2x,' + img_path + 'memory-white' + extension + ' 1x', alt=alt)
                span !{number_capacity} #[br] !{capacity}

        a.link-ficha(href=link) Ver más detalle

        .button-ficha
            a(href="#") Lo quiero