mixin entel-match(brand,model,img,alt,classie,src_img,extension,battery,camera,screen,capacity,link,button)
    .slider_options__match
        h2 #[strong !{brand}] #[span !{model}]

        img(src= img, alt=alt)

        .feature 
            .feature__battery
                img(class=classie src=img_path + src_img + extension, srcset= img_path + src_img + '@2x' + extension + ' 2x,' + img_path + src_img + extension + ' 1x', alt=alt)
                span !{battery}
            
            .feature__camera
                img(class=classie src=img_path + src_img + extension, srcset= img_path + src_img + '@2x' + extension + ' 2x,' + img_path + src_img + extension + ' 1x', alt=alt)
                span !{camera}
            
            .feature__screen
                img(class=classie src=img_path + src_img + extension, srcset= img_path + src_img + '@2x' + extension + ' 2x,' + img_path + src_img + extension + ' 1x', alt=alt)            
                span !{screen}
            
            .feature__capacity
                img(class=classie src=img_path + src_img + extension, srcset= img_path + src_img + '@2x' + extension + ' 2x,' + img_path + src_img + extension + ' 1x', alt=alt)
                span !{capacity}

        a.link-ficha(href=link) Ver más detalle

        .button-ficha
            a(href="#") Lo quiero